fastapi
uvicorn
pydantic
pydantic-settings
openai
python-dotenv
supabase 
jose 
requests
pyjwt
httpx
pytest
groq
PyMuPDF
Pillow
python-multipart
soundfile
edge-tts
silero-vad
sentence-transformers
faster-whisper
google-genai
pdfplumber
google-api-python-client
google-auth-httplib2
google-auth-oauthlib